<footer class="footer">
  <div class="footer-info">
    <!-- 左側 -->
    <div class="footer-left">
        <div class="footer-logo">
            L.EVER <span>Inc.</span>
        </div>
        <p class="footer-message">
            AIとデータの力で、利益が残る未来をつくる。
        </p>
    </div>
    <!-- 右側 -->
    <div class="footer-contact">
        <h3 class="footer-title">会社情報</h3>

        <div class="contact-item">
            <span class="contact-label">所在地</span>

            <div class="contact-text">
                <div>〒156-0057 東京都世田谷区上北沢4-12-8 2F</div>
            </div>
        </div>

        <div class="contact-item">
            <span class="contact-label">電話番号</span>
            <div class="contact-text">
                0120-399-137
            </div>
        </div>
    </div>
</div>
</footer>
