body{
    margin:0;
}

main{
    width:100%;
}

main img{
    width:100%;
    height:auto;
    display:block;
}

@media screen and (max-width:1036px){
    body{
        padding-top:72px;
    }

    main{
        padding-top:0;
    }
}
