body {
    margin:0;
}


/* ヘッダーiframe */

.header-frame {
    width:100%;
    height:80px;
    border:none;
    display:block;
    overflow:hidden;
}


/* フッターiframe */

.footer-frame {
    width:100%;
    height:250px;
    border:none;
    display:block;

}