.page-image-wrap{

    width:100%;
    max-width:1620px;
}

.page-image{

    display:block;
    width:100%;
}

.page-image img{

    display:block;
    width:100%;
    height:auto;
}

@media screen and (max-width:1032px){
    .page-image-wrap{
        margin-top: 40px;
        width:100%;
    }

    .page-image{

        display:block;
        width:100%;
    }

    .page-image img{

        display:block;
        width:100%;
        height:auto;
    }
}